@media only screen and (min width: 32.5em) {
body{
     width: 400px;
     padding: 30px;
     margin: 3px; 
     }
     h1 {
        border-radius: 25px;
     padding: 20px;
     width: 370px;
     height: 50px;
       background-color: #008080;
       color: #FFD700;
       font-family: "Times New Roman", Times, serif;
     }
     img{
       width: 150px;
       box-shadow: 5px 10px 18px #888888;
       margin-top: 100px;
       max-width: 100%;
     }
     h2 {
       color: dark grey;
       font-family: "Lucida Console", Courier, monospace;
       font-size: 15px;
       text-decoration: underline;
     }
     ul li{
       color: dark grey;
       font-family: "Lucida Console", Courier, monospace;
       font-size: 20
       px;
       padding: 5px;
   }
   a:visited {
     color: ddd410;
   }
   a:hover {
     color: hotpink;
   }
     footer {
        border-radius: 25px;
     padding: 20px;
     width: 370px;
     height: 50px;
       background-color: #008080;
       color: #FFD700;
       font-family: "Times New Roman", Times, serif;
     }