body{
    background-color: lightpink;
  }
  h1 {
    color: white;
    margin-left: 400px;
    font-family: "Times New Roman", Times, serif;
  }
  img{
    max-width: 500px;
    margin: auto;
    border: 3px solid blue;
    float: right;
  }
  h2 {
    color: grey;
    margin-left: 400px;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 20px;
  }
  ul li{
    color: grey;
     margin-left: 400px;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 10px;  
  }
  a:visited {
    color: yellow;
  }
  a:active {
    color: purple;
  }
  footer {
    color: white;
    margin-left: 400px;
    font-family: "Times New Roman", Times, serif;
  }
  /*visited*/
  footer a{
    color: yellow;
  }