/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
    nav ul li a{
        padding: .6rem 1rem;
    }
  }
  .gallery{
    column-count: 3;
    column-gap: 200px;
  }
  picture{
    max-width: 300px;
  }
      p{
        font-family: 'Raleway', sans-serif;
          font-size: 17px;
          margin-left: 20px;

} 
/*end large */