/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
main {max-width:820px;margin:0 auto;}
h1 {text-align: center;font-size:2.5rem;text-shadow:3px 3px 5px #777;}

.herodiv {margin: 10px auto;position: relative;}
h1, h2, p {margin: 0;}

.stats {
	position: absolute;
	top: 25px;
	right: 50px;
	background: radial-gradient(#eee, #4567aa);
	border: 1px solid #000;
	padding: 1.5rem;
	box-shadow: 0 0 30px #111;
	opacity: .8;
}

nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}
nav{
    background-color: #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a{
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0,0,0.3);
}
nav ul li.active{
    background-color: rgba(0,0,0.2);
    color: #fff; 
}

nav ul li a:hover{
    background-color: rgba(0,0,0.4);

}
nav ul.hide{
    display: none;
}
  picture a:hover{
    box-shadow: 1px 1px 0 #111;
    opacity: .8;
  }
  .gallery{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  p{
    font-family: 'Raleway', sans-serif;
      font-size: 17px;
      margin-left: 20px;
  }

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }



