/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
    .responsive li {
        display: block;
    }
    nav ul li a{
        padding: .6rem 1rem;
    }
    footer{
        text-align: center;
    }
    #one {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
       }
       #two{
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        margin-left: 20px;
       display: grid;
      grid-template-columns: 1fr 1fr;
     }

} /*end large */