/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
    nav ul li a{
        padding: .6rem 1rem;
    }
  }
  figure{
    max-width: 300px;
  }
  figure:hover{
    box-shadow: 0 0 50px #333;
    border-radius: 5px 150px;
    opacity: .5;
  }
 p{
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  margin-left: 20px;
  box-shadow: 0 0 50px #333;

} 
body{
  background-color: #c6c386;
  
}
form fieldset{
  padding: 40px;
  border: 1px solid #0892d0;
  border-radius: 12px;
  margin: 3px;
}
form legend{
  color: brown;
  margin: 3px;
  padding: 20px;
  font-family: 'Fjalla One', sans-serif; 
}
form label.top, form div{
  display: block;
  padding-top: 15px;
  font-size: 12px;
  font-family:'Raleway', sans-serif;
}
form label.top input, form label.top select{
  display: block;
  font-size: 16px;
  border: 1px grey;
  border-radius: 5px;
  padding: 14px;
  color: #0892d0;
  max-width: 20rem;
  background-color: rgb(0,0,0,0.1);
}
form input.submitBtn{
  border: none;
  color: brown;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  max-width: 20rem;
}
form label.top input:required{
  border-left: red solid 6px;
}
form label.top input:required:valid{
  border-left: green soild 6px;
}
/*end large */