picture{
    display: grid;
    grid-template-columns: auto;
    padding-top: 20px;
    justify-content: center;
  }
  h1{
    text-align: center;
    text-decoration: underline;
  }
 picture img[data-src]{
    filter: blur(0.2em);
 }
 picture img{
   filter: blur(0em);
   transition: filter 2.0s;
 }